body {
    font-size: 15px;
    font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aqua;
}

.icon {
    width:20px;
    height: 20px;
}

.OuterContainer {
    width: 99vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.container {
    width: 270px;
    height: 435px;
    border: 6px solid rgb(27, 170, 14);
}   

.nftpic {
    width: 230px;
    height:250px;
    display:block;
    margin:auto;
    margin-top:15px;
}

.innerFlex {
    display:flex;
    justify-content: flex-start;
    width: 80%;
    margin:auto;
}

.innerFlex2 {
    display:flex;
    align-items: center;
    width:150px;
    justify-content: space-between;
}

.innerFlex3 {
    display:flex;
    align-items: center;
    width:150px;
    justify-content: space-around;
}

h3{
    color:rgb(66, 13, 212);
}

p {
    width:250px;
}

.attr {
    width: 350px;
}

.Caption {
    margin-left:20px;
}